.wrapper{
    display:flex;
    justify-content: center;
    position: relative;
}
.block{
    background-color: black;
    width: 500px;
    height: 500px;
    display:flex;
    justify-content: center;
}

.cross-line{
    width: 100px;
    height: 100px;
    top: 50%;
    position:absolute;
}

hr{
    background-color: #fff;
    width: 100px;
}

.first-line{
    margin-bottom: 20px;
    animation-name: cross-line1;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}

.second-line{
    animation-name: cross-line2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

 .wrapper:hover  {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes cross-line1{
    to{
        transform:rotate(45deg);
    }
}

@keyframes cross-line2{
    to{
        transform:rotate(-45deg);
    }
}